@import url("../../../template.css"); 
@import url("../../../style/Generales.css"); 

a { color: inherit; } 


.mat-column-NumeroCotizacion{     
  width: 5% !important;
  
  }
  .mat-column-Metodo{
    width: 5% !important;
  }
  .mat-column-Moneda{
      width: 5% !important;
  }
  .mat-column-Banco{
    width: 5% !important;    
  }  
  .mat-column-Cuenta{
    width: 5% !important;
  }  
  .mat-column-TipoRetencion{
    width: 5% !important;
  }
  .mat-column-NroReferencia{
    width: 5% !important;
  }  
  .mat-column-Monto {
    width: 5% !important;
    text-align:left;  }
  .mat-column-acciones {
    width: 5% !important;
    
  }

  
  mat-form-field{
    width: 85%;
}

