@import url("../../../template.css"); 
@import url("../../../style/Generales.css"); 

a { color: inherit; } 

   .mat-column-IdAcuerdos{     
    width: 15% !important;
    color: black;
    
    }
  .mat-column-Acuerdos{
    width: 35% !important;
    color: black;
  }

  .mat-column-PuntosAgenda{
    width: 35% !important;
    color: black;
  }  
  .mat-column-AudioAcuerdo{
      width: 15% !important;
      color: black;
  }  
  .mat-column-acciones{
    width: 5% !important;
    color: black;
    text-align:left;
  }
 
  mat-form-field{
    width: 100%;    
  }
  
  .alinear_izquierda{
    text-align: left;
    
  }
  .alinear_derecha{
    text-align: right;
  }
  input, h1{
    color: black;
    }