@import url("../../../template.css"); 
@import url("../../../style/Generales.css"); 

a { color: inherit; } 

   .mat-column-NumeroCotizacion{     
    width: 8% !important;
    color: black;
    
    }
  .mat-column-ARTICULO{
    width: 8% !important;
    color: black;
  }
  .mat-column-Descripcion{
      width: 15% !important;
      color: black;
  }
  .mat-column-Cantidad{
    width: 5% !important;
    color: black;
    text-align:left;
  }  
  .mat-column-Precio{
    width: 5% !important;
    color: black;
  }  
  .mat-column-iva{
    width: 5% !important;
    color: black;
  }
  .mat-column-subTotal{
    width: 5% !important;
    color: black;
  }  
  .mat-column-acciones {
    width: 4% !important;
    color: black;
    text-align:left;
  }
 
  mat-form-field{
    width: 100%;    
  }

  .alinear_izquierda{
    text-align: left;
    
  }
  .alinear_derecha{
    text-align: right;
  }
  input, h1{
    color: black;
    }