*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
     background: rgb(255, 255, 255);
     border-radius: 30px;
     box-shadow: 12px 12px 22px #0D2379;
     margin-top: 5%;
     margin-bottom: 7%;
}

img{    
    margin-top: 13%;
    margin-left: 5%;      
    padding-left: 3%;;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;    
    box-shadow: 12px 12px 22px grey;
    height: 35%;
    
}

.btn1{
    margin-top: 15%;
    margin-bottom: 15%;
    margin-right: 10%;
    border: none;
    outline: none;
    height: 50px;
    width: 95%;
    background-color: #0D2379;    
    color: white;
    font-weight: bold;  
    font-style:initial;
    font-size: medium;
    border-radius: 15%;
    
}
.mybutton {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
  }


.mat-stepper-horizontal {
    margin-left: 1%;
    padding-left: 2%;
    margin-top: 3px;
    max-width: 98%;
    border-radius: 2%;
    
  }
  
  .mat-mdc-form-field {
    border-radius: 15%;
    margin-top: 3px;
 
  }
  