<h2>Agregar responsable de compras</h2>
<form [formGroup]="editar" (ngSubmit)="enviar(editar.value)">
    <mat-form-field appearance="legacy">
        <mat-label>Nombres (*)</mat-label>
        <input matInput placeholder="Nombres" formControlName="nombres">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Apellidos (*)</mat-label>
        <input matInput placeholder="Apellidos" formControlName="apellidos">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Cedula (*)</mat-label>
        <input matInput placeholder="Cedula" formControlName="cedula">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Correo electrónico (*)</mat-label>
        <input matInput placeholder="Correo electrónico" formControlName="correo">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Telefono 1 (*)</mat-label>
        <input matInput placeholder="Telefono 1" formControlName="telefono1">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Telefono 2 (*)</mat-label>
        <input matInput placeholder="Telefono 2" formControlName="telefono2">
        <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
    <div class="modal-footer">
        <button type="submit" [disabled]="editar.invalid" class="btn btn-liosa">Actualizar</button>
    </div>
</form>