.bg-liosa{
    background-color: #006666;
}
/****BTN ***/
.btn-liosa {
    color: #fff;
    background-color: #006666;
    border-color: #006666;
  }
  .btn-liosa:hover {
    color: #fff;
    background-color: #044646;
    border-color: #044646;
  }
  .btn-check:focus + .btn-liosa, .btn-liosa:focus {
    color: #fff;
    background-color: #044646;
    border-color: #044646;
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
  }
  .btn-check:checked + .btn-liosa, .btn-check:active + .btn-liosa, .btn-liosa:active, .btn-liosa.active, .show > .btn-liosa.dropdown-toggle {
    color: #fff;
    background-color: #044646;
    border-color: #044646;
  }
  .btn-check:checked + .btn-liosa:focus, .btn-check:active + .btn-liosa:focus, .btn-liosa:active:focus, .btn-liosa.active:focus, .show > .btn-liosa.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
  }
  .btn-liosa:disabled, .btn-liosa.disabled {
    color: #fff;
    background-color: #006666;
    border-color: #006666;
  }
  /*****/
  .btn-cerrar{
      color: #fff !important;
  }
   /*****/
   mat-form-field {
    width: 100%;
  }