@import url("../../../template.css"); 
@import url("../../../style/Generales.css"); 

a { color: inherit; } 

  .mat-column-IdAgenda{    
    color: black;
    width: 15% !important;
    text-align:left;
  }
  .mat-column-Local{      
      color: black;
      width: 70% !important;
      text-align:left;
  }
  
  .mat-column-acciones {
    color: black;
    width:  10% !important;
    text-align:left;
  }
  
  mat-form-field{
    width: 85%;
    color: black;
}
.mat-column-acciones-input{
  width: 90% !important;
  color: black;
}

.button-Toolstip {
  margin-top: 16px;
}

.tooltip-red {
  background: #b71c1c;
}