@import url("../../../template.css"); 
@import url("../../../Style/Generales.css"); 
mat-form-field{
    width: 100%;
}

.mat-column-Descripcion{
    width: 25% !important;
    margin: right 5%px; 
    text-align:left;
  }

  .cdk-column-Descripcion{
     
      width: 25% !important;
      margin: right 5%px; 
      text-align:left;
      
  }

  .mat-column-Cantidad{
    width: 5% !important;
    text-align: center;
  }
  .cdk-column-Cantidad{
    width: 5% !important;
    text-align: center;
  }

  .mat-column-Precio{
   
    width: 5% !important;
    text-align:center;
  }
  .cdk-column-Precio{
   
    width: 5% !important;
    text-align:center;
  }

  .mat-column-PrecioDollar{
   
    width: 5% !important;
    text-align:center;
  }
  .cdk-column-PrecioDollar{
   
    width: 5% !important;
    text-align:center;
  }


  .mat-column-Iva{
    width: 5% !important;
    text-align: center;
  }
  .cdk-column-Iva{
    width: 5% !important;
    text-align: center;
  }

  
  .mat-column-DescripcionDeUso{
    width: 15% !important;
  }
  .cdk-column-DescripcionDeUso{
    width: 15% !important;
  }