

<div *ngIf="IsAuthenticated()"><!--ESTA Auth-->

  <span style="cursor: pointer;" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
  <mat-icon *ngIf="sidenav.opened">
      close
  </mat-icon>
  </span>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" mode="side" opened >
      <img class="avatar mat-elevation-z8" src="../assets/CNULogo.png" routerLink="/localhost" />
      <h3 class="name">SIGA-CNU</h3>
      <p class="designation">Sistema de Gestión de Actas</p>
  
      <mat-divider></mat-divider>
      
      <mat-accordion multi>
        <mat-expansion-panel class="primary-gas">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #fff;">
              <mat-icon>people_alt</mat-icon> Miembros
            </mat-panel-title>
          </mat-expansion-panel-header>
            <span routerLink="/Personas" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>  
      </mat-accordion>
  
      <mat-accordion multi>
        <mat-expansion-panel class="primary-gas">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #fff;">
              <mat-icon>people_alt</mat-icon> Agendas
            </mat-panel-title>
          </mat-expansion-panel-header>
            <span routerLink="/Agenda" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>  
      </mat-accordion>


      <mat-accordion multi>
        <mat-expansion-panel class="primary-gas">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #fff;">
              <mat-icon>people_alt</mat-icon> Actas
            </mat-panel-title>
          </mat-expansion-panel-header>
            <span routerLink="/Orden" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>  
      </mat-accordion>

      <mat-accordion multi>
        <mat-expansion-panel class="primary-gas">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #fff;">
              <mat-icon>people_alt</mat-icon> Acuerdos
            </mat-panel-title>
          </mat-expansion-panel-header>
            <span routerLink="/ListFactura" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>  
      </mat-accordion>

      <mat-accordion multi>
        <mat-expansion-panel class="primary-gas">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #fff;">
              <mat-icon>people_alt</mat-icon> Resoluciones
            </mat-panel-title>
          </mat-expansion-panel-header>
            <span routerLink="/localhost" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>  
      </mat-accordion>


      <mat-accordion multi>
        <mat-expansion-panel class="primary-gas">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #fff;">
              <mat-icon>people_alt</mat-icon> Cumplimiento
            </mat-panel-title>
          </mat-expansion-panel-header>
            <span routerLink="/Precio" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>  
      </mat-accordion>

      <mat-accordion multi>
        <mat-expansion-panel class="primary-gas">
          <mat-expansion-panel-header>
            <mat-panel-title style="color: #fff;">
              <mat-icon>account_circle</mat-icon> Sesión
            </mat-panel-title>
          </mat-expansion-panel-header>
            <span (click)="logOut()" class="accordion-item">
              <mat-icon>exit_to_app</mat-icon>Cerrar sesion
            </span>
        </mat-expansion-panel>
      </mat-accordion>   

    </mat-sidenav>

    <mat-sidenav-content>
      <div class="fondo-Gas position-absolute"> 
        <div class="content">
          <router-outlet></router-outlet>
        </div> 
      </div>    
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <div>
    <footer class="footer-gas"> Administración ... SIGA-CNU </footer>    
  </div>    
</div>

<div *ngIf="!IsAuthenticated()" style="background-color: #ececca; height: 100%;">
  <div *ngIf="!Isreload()">
    <app-login></app-login>
  </div>  
</div>