  @import url("template.css");  

mat-toolbar{
    background-color: rgb(4, 4, 102) ;
    color: #fff;
}
mat-sidenav{
    margin: 5px;
    width: 250px;
    height: calc(100vh - 36px);
    border-right: none;
    background: rgb(4, 4, 102) ;      
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
mat-sidenav-container{
    height: calc(96vh);     
    background: #000f03fb ;  
}

.fondo-Gas{        
   
  /* height: calc(100vh - 65px);  */
    height: 98%;
    width: 98%;    
    margin-top:0.5%; 
    margin-left:1.5%; 
    padding:0.2px;    
    background-image:url("../assets/BACKGROUND.jpg");        
    background-repeat: no-repeat;
    background-size: 100% 110%;  
    
}

.content{
    /* height: calc(100vh); */
    height: 98%;
    width: 95%;
    /***COMPONER CUANDO SE CAMBIA DE RESOLUCION***/
    margin:5px;
    margin-left:5px;    
    /*******/
    align-items: center;
    justify-content: center;
    color: lightgray;    
    border-radius:15px;
}

.menu-button{
    margin-left: 30px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}
mat-icon{
    margin-right: 5px;
}

.name {
    margin-top: 1px;
    font-weight: normal;
}

.designation {
    margin-top: 1px;
    font-size: 1rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 1px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}
.avatar {
    margin-top: 1px;
    width: 110px;
    height: 110px;
    border-radius: 100% !important;
    
}


.example-action-buttons {
    padding-bottom: 1px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  mat-accordion{
      background: #010524 !important;      
      margin-top: 1px !important;
  }
  .accordion-item{
    cursor: pointer; 
    display: flex; 
    align-items: center;
    border: none;
    background-color: #10058a;
    color: #fff;
    margin-top: 1px;
  }
  .blue-snackbar {
    background: #5f6f75;
  }
  .mat-expansion-panel-body {
    background-color: #5f6f75;    
  }
 .mat-expansion-indicator::before{
    color: #fff;
  }
  /* mat-sidenav-content{
    background-color: rgb(245, 245, 245);
  } */