<!-- MODULO #1 : GAS -->
<!---------------------------------------------------------------->
<div *ngIf="isModuloActivado() === 1">
  <div *ngIf="IsAuthenticated()">
    <!--ESTA Auth-->

    <span
      style="cursor: pointer"
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </span>

    <mat-sidenav-container>
      <mat-sidenav
        #sidenav="matSidenav"
        class="mat-elevation-z8"
        mode="side"
        opened
      >
        <img
          class="avatar mat-elevation-z8"
          src="../assets/CNULogo.png"
          (click)="goBack()"
        />
        <h3 class="name">SIGA-CNU</h3>
        <p class="designation">Sistema de Gestión de Actas</p>

        <mat-divider></mat-divider>
        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>people_alt</mat-icon> Miembros
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span routerLink="/Personas" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>people_alt</mat-icon> Agendas
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span routerLink="/Agenda" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>people_alt</mat-icon> Actas
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span routerLink="/Acta" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>people_alt</mat-icon> Resoluciones
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span routerLink="/Resoluciones" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>people_alt</mat-icon> Cumplimiento
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span routerLink="/Precio" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>account_circle</mat-icon> Sesión
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span (click)="logOut()" class="accordion-item">
              <mat-icon>exit_to_app</mat-icon>Cerrar sesion
            </span>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav>

      <!-- TODO: Slida al Escritorio Router Outlet  -->
      <mat-sidenav-content>
        <div class="fondo-Gas position-absolute">
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <div>
      <footer class="footer-gas">SIGA-CNU</footer>
    </div>
  </div>
</div>
<!---------------------------------------------------------------->
<!-- MODULO #2 : Sistema Nacional de Estadisticas de las IES -->
<!---------------------------------------------------------------->
<div *ngIf="isModuloActivado() === 2">
  <div *ngIf="IsAuthenticated()">
    <!--ESTA Auth-->

    <span
      style="cursor: pointer"
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </span>

    <mat-sidenav-container>
      <mat-sidenav
        #sidenav="matSidenav"
        class="mat-elevation-z8"
        mode="side"
        opened
      >
        <img
          class="avatar mat-elevation-z8"
          src="../assets/CNULogo.png"
          (click)="goBack()"
        />
        <h3 class="name">SINEIES</h3>
        <p class="designation">Sistema Nacional de</p>
        <p class="designation">Estadisticas de las IES</p>

        <mat-divider></mat-divider>
          <mat-accordion multi>
            <mat-panel-title style="color: #fff">
              <span routerLink="compendio/compendio" class="accordion-item">
                <mat-icon>book </mat-icon> COMPENDIO 
              </span>
            </mat-panel-title>
          </mat-accordion>
        <mat-divider></mat-divider>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>bookmark</mat-icon> PROCESOS
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span routerLink="compendio/formacion" class="accordion-item" style="background-color:rgb(4, 4, 102);">
              <mat-icon>list</mat-icon> Formación
            </span>
            <span routerLink="compendio/extension" class="accordion-item" style="background-color:rgb(4, 4, 102);">
              <mat-icon>list</mat-icon> Extensión
            </span>
            <span routerLink="compendio/investigacion" class="accordion-item" style="background-color:rgb(4, 4, 102);">
              <mat-icon>list</mat-icon> Investigación
            </span>
            <span routerLink="compendio/gestion" class="accordion-item" style="background-color:rgb(4, 4, 102);">
              <mat-icon>list</mat-icon> Gestión Universitaria
            </span>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>account_circle</mat-icon> Sesión
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span (click)="logOut()" class="accordion-item">
              <mat-icon>exit_to_app</mat-icon>Cerrar sesion
            </span>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav>

      <!-- TODO: Slida al Escritorio Router Outlet  -->
      <mat-sidenav-content>
        <div class="fondo-Generic position-absolute">
          <div class="content">
            
            <router-outlet></router-outlet>

          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <div>
      <footer class="footer-gas" style="padding-left: 20%;">       CNU  --  SINEIES</footer>
    </div>
  </div>
</div>
<!---------------------------------------------------------------->
<!-- MODULO #3 : En espera -->
<!---------------------------------------------------------------->
<div *ngIf="isModuloActivado() === 3">
  <div *ngIf="IsAuthenticated()">
    <!--ESTA Auth-->

    <span
      style="cursor: pointer"
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </span>

    <mat-sidenav-container>
      <mat-sidenav
        #sidenav="matSidenav"
        class="mat-elevation-z8"
        mode="side"
        opened
      >
        <img
          class="avatar mat-elevation-z8"
          src="../assets/CNULogo.png"
          (click)="goBack()"
        />
        <h3 class="name">MÓDULO OA</h3>
        <p class="designation">OFERTA ACADÉMICA</p>

        <mat-divider></mat-divider>
        
        <mat-accordion multi>  
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff; text-align: left;">
                <span routerLink="Of/PlanEstudios" class="accordion-item"style="background-color:rgb(4, 4, 102);">
                  <mat-icon>book </mat-icon> PLANES DE ESTUDIO
                </span>
              </mat-panel-title>                
            </mat-expansion-panel-header>
          </mat-expansion-panel>          
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff; text-align: left;">
                <span routerLink="Of/Oferta" class="accordion-item"style="background-color:rgb(4, 4, 102);">
                  <mat-icon>book </mat-icon>OFERTA ACADÉMICA  
                </span>
              </mat-panel-title>              
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff;text-align: left;">
                <span routerLink="Of/Facultades" class="accordion-item"style="background-color:rgb(4, 4, 102);">
                  <mat-icon>book </mat-icon>FACULTADES Y SEDES  
                </span>
              </mat-panel-title>              
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff; text-align: left;">
                <span routerLink="Of/Ies" class="accordion-item"style="background-color:rgb(4, 4, 102);">
                  <mat-icon>book </mat-icon>INSTITUCIÓN   
                </span>
              </mat-panel-title>              
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>

        
        <mat-divider></mat-divider>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>account_circle</mat-icon> Sesión
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span (click)="logOut()" class="accordion-item">
              <mat-icon>exit_to_app</mat-icon>Cerrar sesion
            </span>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-sidenav>

      <!-- TODO: Slida al Escritorio Router Outlet  -->
      <mat-sidenav-content style="padding-left: 10px;">
        <div class="fondo-Generic position-absolute">
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <div>
      <footer class="footer-gas">CNU</footer>
    </div>
  </div>
</div>

<!---------------------------------------------------------------->
<!-- MODULO #4 : En espera -->
<!---------------------------------------------------------------->
<div *ngIf="isModuloActivado() === 4">
  <div *ngIf="IsAuthenticated()">
    <!--ESTA Auth-->

    <span
      style="cursor: pointer"
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </span>

    <mat-sidenav-container>
      <mat-sidenav
        #sidenav="matSidenav"
        class="mat-elevation-z8"
        mode="side"
        opened
      >
        <img
          class="avatar mat-elevation-z8"
          src="../assets/CNULogo.png"
          (click)="goBack()"
        />
        <h3 class="name">MODULO #4</h3>
        <p class="designation">MODULO EN CONSTRUCCION</p>

        <mat-divider></mat-divider>
        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>people_alt</mat-icon> MENU-GENERICO
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span routerLink="/localhost" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>account_circle</mat-icon> Sesión
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span (click)="logOut()" class="accordion-item">
              <mat-icon>exit_to_app</mat-icon>Cerrar sesion
            </span>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav>

      <!-- TODO: Slida al Escritorio Router Outlet  -->
      <mat-sidenav-content>
        <div class="fondo-Generic position-absolute">
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <div>
      <footer class="footer-gas">CNU</footer>
    </div>
  </div>
</div>

<!---------------------------------------------------------------->
<!-- MODULO #5 : En espera -->
<!---------------------------------------------------------------->
<div *ngIf="isModuloActivado() === 5">
  <div *ngIf="IsAuthenticated()">
    <!--ESTA Auth-->

    <span
      style="cursor: pointer"
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </span>

    <mat-sidenav-container>
      <mat-sidenav
        #sidenav="matSidenav"
        class="mat-elevation-z8"
        mode="side"
        opened
      >
        <img
          class="avatar mat-elevation-z8"
          src="../assets/CNULogo.png"
          (click)="goBack()"
        />
        <h3 class="name">MODULO #5</h3>
        <p class="designation">MODULO EN CONSTRUCCION</p>

        <mat-divider></mat-divider>
        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>people_alt</mat-icon> MENU-GENERICO
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span routerLink="/localhost" class="accordion-item">
              <mat-icon>list</mat-icon>Listado
            </span>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion multi>
          <mat-expansion-panel class="primary-gas">
            <mat-expansion-panel-header>
              <mat-panel-title style="color: #fff">
                <mat-icon>account_circle</mat-icon> Sesión
              </mat-panel-title>
            </mat-expansion-panel-header>
            <span (click)="logOut()" class="accordion-item">
              <mat-icon>exit_to_app</mat-icon>Cerrar sesion
            </span>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav>

      <!-- TODO: Slida al Escritorio Router Outlet  -->
      <mat-sidenav-content>
        <div class="fondo-Generic position-absolute">
          <div class="content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <div>
      <footer class="footer-gas">CNU</footer>
    </div>
  </div>
</div>

<!---------------------------------------------------------------->

<div *ngIf="!IsAuthenticated()" style="background-color: #ececca; height: 100%">
  <div *ngIf="!Isreload()">
    <app-login></app-login>
  </div>
</div>
