
<!-- <div   >
  <div class="alert alert-danger">ACCESO DENEGADO</div>
</div>

<br> -->

<div >

  <div class="row" class="mat-elevation-z3">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title"><span class="lstick"></span>PLANES DE ESTUDIO</h4>
                  <div class="d-flex flex-row-reverse bd-highlight">
                      <div class="p-2 bd-highlight">
                          <span class="btn btn-liosa" 
                          (click)="openForm(1,0)"
                           >                                 
                          <i class="bi bi-person-plus-fill"></i>Agregar plan
                          </span>
                      </div>
                  </div>

                  <div class="div-center uploader-status"*ngIf="istimePinner()">
                      <br>
                      <mat-spinner [diameter]="50"></mat-spinner>
                  </div>

                  <div    >

                      <div class="row">
                          <div class="col-4">
                              <mat-form-field appearance="standard">
                                  <mat-label>Buscar</mat-label>
                                  <input matInput 
                                    
                                  placeholder="Introduzca una palabra clave"
                                      #input>
                              </mat-form-field>
                          </div>
                          <div class="col-4"></div>
                          <!-- <div class="col-4">
                              <mat-form-field appearance="standard" class="ancho">
                                  <mat-label> FILTRAR </mat-label>
                                  <mat-select    [(value)]="sinFiltro" >                                        
                                      <mat-option *ngFor="let item of Estado_subCatalogo" [value]="item.id"
                                        
                                      >{{item.descripcion}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>  
                          </div> -->
                      </div>

                      <table mat-table #table [dataSource]="tb_dataSource" matSort>                            
                          <ng-container matColumnDef="Codigo">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Código. </th>
                              <td mat-cell *matCellDef="let element"> {{element.Codigo}}  </td>
                          </ng-container>

                          <ng-container matColumnDef="Versionn">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Versión </th>
                              <td mat-cell *matCellDef="let element"> {{element.Versionn}}   </td>
                          </ng-container>
                                                        
                          <ng-container matColumnDef="Numero_horas">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de horas </th>
                              <td mat-cell *matCellDef="let element"> {{element.Numero_horas}}   </td>
                          </ng-container>

                          <ng-container matColumnDef="Numero_semanas">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de semanas </th>
                              <td mat-cell *matCellDef="let element"> {{element.Numero_semanas}}   </td>
                          </ng-container>

                          <ng-container matColumnDef="Numero_asignaturas">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Número asignaturas </th>
                              <td mat-cell *matCellDef="let element"> {{element.Numero_asignaturas}}   </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="Numero_creditos">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de créditos </th>
                            <td mat-cell *matCellDef="let element"> {{element.Numero_creditos}}   </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="Numero_periodos">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de períodos </th>
                            <td mat-cell *matCellDef="let element"> {{element.Numero_periodos}}   </td>
                        </ng-container>

                          <ng-container matColumnDef="acciones">
                              <th mat-header-cell *matHeaderCellDef></th>
                              <td mat-cell *matCellDef="let element" style="text-align: right;">
                                  <span class="pointer" style="color: #198754;" matTooltip="Adjuntar Doc">
                                      <mat-icon  > cloud_circle</mat-icon>
                                  </span>
                                  <span class="pointer" style="color: #0a46c7;" matTooltip="Detalles">
                                      <!-- <i class="material-icons">remove_red_eye</i> -->
                                    <a  ><mat-icon >remove_red_eye</mat-icon></a>  
                                  </span>
                                  <span class="pointer" style="color: #198754;" matTooltip="Editar">
                                      <mat-icon  > edit</mat-icon>
                                  </span>
                                  <span class="pointer"  style="color: #dc3545;"
                                      matTooltip="Eliminar">
                                      <a  >  <mat-icon>delete</mat-icon></a>
                                  </span>
                              </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Items por pagina"   ></mat-paginator>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

