<!DOCTYPE html>
<html lang="en">

<body id="demo">
  

    <div id="printme">

        <div class="row col-12">
            <div class="col-3">
                <img class="marco" src="../assets/Ojo.jpg" />
            </div>
            <div class="col-6">
                <div class="membrete_div">
                    <h2>MATSPEN, S.A </h2>
                    <h5>
                        De la contraloria General de la republica
                        80 mts al este, Teléfono 2271-5790 / <br>
                        No. de Registro Tributario: J0310000201714
                    </h5>
                </div>

            </div>
        </div>

        <div class="titulo_div">
            <div>
                <h1> COTIZACIÓN </h1>
            </div>
        </div>


        <!-- ********************************************************* -->

        <div class="bordes_div">

            <div class="row col-12">

                <div class="col-7" style="padding: 2%;">

                    <div class="col-10">
                        <label> Cliente : </label> {{nombre_cliente}}
                    </div>
                    <div class="col-10">
                        <label> RUC : </label> {{ruc_cliente}}
                    </div>
                    <div class="col-10">
                        <label>Correo : </label> {{correo_cliente}}
                    </div>
                    <div class="col-10">
                        <label>Teléfono : </label> {{telefono1_cliente}}
                        <br>
                    </div>
                    <div class="col-10">
                        <label>Contacto : </label> {{contacto_pago}}
                    </div>
                    <div class="col-10">
                        <label>NOTA : </label> {{observaciones}}

                    </div>
                </div>

                <div class="col-5">
                    <div class="row">
                        <div class="col-4" class="alinear_izquierda">
                            <br>
                            <label> No. Docu.: </label> {{NumDocumento}}
                        </div>
                        <div class="col-1" class="alinear_izquierda">
                            <label> Fecha : </label> {{fecha_cotizacion}}
                        </div>
                        <div class="col-1" class="alinear_izquierda">
                            <label> Proforma valida por 15 días </label>
                        </div>
                    </div>
                </div>

            </div>

            <!-- ********************************************************* -->

            <div class="bordes_tabla">

                <!--Z8-TABLA GRID -->

                <table mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="Cantidad">
                        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="Descripcion">
                        <th mat-header-cell *matHeaderCellDef> Descripción </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.descripcion}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>


                    <ng-container matColumnDef="Precio">
                        <th [hidden]="!cotizacion_en_cordoba()" mat-header-cell *matHeaderCellDef> Precio </th>
                        <td [hidden]="!cotizacion_en_cordoba()" mat-cell *matCellDef="let transaction">
                            {{transaction.Precio}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>


                    <ng-container matColumnDef="PrecioDollar">
                        <th [hidden]="cotizacion_en_cordoba()" mat-header-cell *matHeaderCellDef> Precio  </th>
                        <td [hidden]="cotizacion_en_cordoba()" mat-cell *matCellDef="let transaction">
                            {{transaction.Precio}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="subTotal">
                        <th [hidden]="!cotizacion_en_cordoba()" mat-header-cell *matHeaderCellDef> Sub Total </th>
                        <td [hidden]="!cotizacion_en_cordoba()" mat-cell *matCellDef="let transaction">
                            {{transaction.SubTotal}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="subTotalDollar">
                        <th [hidden]="cotizacion_en_cordoba()" mat-header-cell *matHeaderCellDef> Sub Total  </th>
                        <td [hidden]="cotizacion_en_cordoba()" mat-cell *matCellDef="let transaction">
                            {{transaction.SubTotal}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>

            </div>

            <!-- ********************************************************* -->

        </div>

        <!-- ********************************************************* -->

        <div class="bordes_pie">
            <div class="row col-12">

                <div class="row col-7">
                    <div class="col-10">
                        <label>PROYECTO : </label> {{descripcion_cotizacion}}


                    </div>
                    <div class="col-10">
                        <label> FECHA DE ENTREGA : </label> {{fecha_entrega}}
                    </div>
                </div>

                <div class="row col-5 bordes_pie_numero" >
                    <div class="col-9">
                        <label>Sub Total {{moneda}} : </label> {{sub_total}}
                    </div>
                    <div class="col-9">
                        <label>Iva {{moneda}} : </label> {{iva}}
                    </div>
                    <div class="col-9">
                        <label>Gran Total {{moneda}} : </label> {{gran_total}}
                    </div>

                </div>

            </div>
        </div>




    </div>



    <!-- ********************************************************* -->

    <div class="col-md-3 col-md-offset-9 text-right" class="alinear_dereecha">
        <div class="btn-group" role="group" style="margin: 1%;">
            <button class="btn btn-outline-danger" style="padding: 2%" type="button" 
            printSectionId="printme" 
            ngxPrint            
            [useExistingCss]="true"
            > Vista Preliminar </button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-danger" style="padding: 4%;" type="button" (click)="closed()"
            > Cerrar Vista</button>
        </div>
    </div>

</body>

</html>