

/* @import '~ngx-print-element/styles.css'; */

header,section,footer,aside,nav,article,hgroup {
    display: block;
}
body{
    margin-block: auto;
}
*{
    margin: 0%;
    padding: 0%;
}

.membrete_div {  
    text-align: center;
    margin:0%;
    padding:0%;        
    font:bold;
}

h5 {
  font-size:small;
}

h1 {
  font-size:medium;
}

.titulo_div{
    text-align:center;
    margin:0%;
    padding:0%;        
    font:bold;
    font-size: 10px;
}
.bordes_div {
  padding: 0.2%;
  border: 0.1px solid black;

}
.bordes_tabla {
  border: 0.1px solid black;  
  
}
.bordes_pie {
  border: 0.1px solid black;  
  padding-left: 1%;  
  font-size:small;      
  
}
.bordes_pie_numero {
  border: 0.1px white;    
  padding-left: 3%;  
  font-size:small;   
    
}

.alinear_izquierda{
    text-align: left;
}

.alinear_dereecha{
    text-align:right;
}


.contenedor-botones {
    display: block;
    width: 100%;
}
.boton-adaptado {
    width: 50%;
}


.mat-column-Descripcion{
    width: 15% !important;
    text-align: left;
  }
  .mat-column-Cantidad{
    width: 3% !important;
    text-align: center;
  }
  .mat-column-Precio{
    width: 6% !important;
    text-align: center;
  }
  
  .mat-column-PrecioDollar{
    width: 6% !important;
    text-align: center;
  }
      
  .mat-column-Iva{
    width: 6% !important;
    text-align: center;
  }
  
  .mat-column-subTotal{
    width: 6% !important;
    text-align: left;
  }
  
  .mat-column-subTotalDollar{
    width: 6% !important;
    text-align: left;
  }
  
  .mat-column-Acciones{
    width: 6% !important;
    
  }
  
  .marco {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    
}