@import url("../../../template.css"); 
@import url("../../../Style/Generales.css"); 
 

mat-form-field{
    width: 100%;
}

.mat-column-Descripcion{
  width: 90% !important;
  padding-right:5% ;
  /* text-align: left; */
}

.mat-column-Cantidad {
  width: 5% !important;
  /* text-align: left; */
}

.mat-column-Precio  {
  width: 5% !important;
  justify-content: left;
  /* text-align: left; */
}

.mat-column-Base {
  width: 5% !important;
  /* text-align: left; */
}

.mat-column-Altura  {
  width: 5% !important;
  justify-content: left;
  /* text-align: left; */
}


.mat-column-Cantidad > mat-form-field{
  width: 70% !important;
  /* text-align: left; */
}

.mat-column-Precio > mat-form-field {
  width: 70% !important;
  justify-content: left;
  /* text-align: left; */
}
.mat-column-Base > mat-form-field{
  width: 70% !important;
  justify-content: left;
  /* text-align: left; */
}
.mat-column-Altura > mat-form-field{
  width: 70% !important;
  justify-content: left;
  /* text-align: left; */
}