

.btn-liosa {
    color: #fff;
    background-color: #070999;
    border-color:#d30f30;     
  }
  .btn-liosa:hover {
    color: #fff;
    background-color: #D30F30;
    border-color: #D30F30;    
  }
  .btn-check:focus + .btn-liosa, .btn-liosa:focus {
    color: #fff;
    background-color: #060479;
    border-color: #740618;
    box-shadow: 0 0 0 0.25rem #e15361;
  }
  .btn-check:checked + .btn-liosa,.btn-check:active + .btn-liosa, .btn-liosa:active, .btn-liosa.active, .show > .btn-liosa.dropdown-toggle {
    color: #fff;
    background-color: #390fd3;
    border-color: #740618;
    
  }
  .btn-check:checked + .btn-liosa:focus, .btn-check:active + .btn-liosa:focus, .btn-liosa:active:focus, .btn-liosa.active:focus, .show > .btn-liosa.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 1);
  }
  .btn-liosa:disabled, .btn-liosa.disabled {
    color: #fff;
    background-color: #e15361;
    border-color: #740618;
  }
  .card{    
    border-color: #740618;
  }
  .card-title{
    color: #000;    
    font-weight: bold;
    font-size: 20px;
  }
  .div-center{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#C21437;
  }
    /*****/
  table {
    width: 100%;
    margin-top: 0.5%;    
  }
  
  th{
    width:10%;    
  }
  .pointer{
    cursor: pointer;
  }
  .accordion-item{
    cursor: pointer; 
    display: flex; 
    align-items: center;
    border:none;
  }
  .lstick::before{
    content: '|';
    color: #5a0fd3;
    font-size: x-large;
    margin-right: 0.5%;
  }
  /***COLOR SPINER**/
  .uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #010c02d7;
  }
  /**OPACIDAD AL 100 LA TAB SELECCIONADA**/
  ::ng-deep.mat-tab-label-active{
    opacity: 1.0!important;
  }
/**CHECKBOX COLOR**/
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #D30F30!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #D30F30;
  }