/* You can add global styles to this file, and also import other style files */
html, body { height:100%;}

body { 
    margin:0;    
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none !important;    
}

.primary-gas{
    background:rgb(4, 4, 102);
    color: #fff;
}

.secondary-gas{
    background: rgb(0, 13, 128);
    color: #fff;
}

.footer-gas{
    background:rgb(4, 4, 102);
    color: #fff;
    text-align: center;
    
}